* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* - Mobile: 375px;
- Desktop: 1440px; */

:root {
    --red: hsl(14, 86%, 42%);
    --green: hsl(159, 69%, 38%);
    --Rose50: hsl(20, 50%, 98%);
    --Rose100: hsl(13, 31%, 94%);
    --Rose300: hsl(14, 25%, 72%);
    --Rose400: hsl(7, 20%, 60%);
    --Rose500: hsl(12, 20%, 44%);
    --Rose900: hsl(14, 65%, 9%);
    --gray: #eaeaea;

}

body {
    background-color: var(--Rose100);
    font-family: 'Red Hat Text', sans-serif;
}




img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

strong {
    font-weight: 650;
    color: var(--Rose900);
}

.access-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}


.image-container {
    position: relative;
    width: 100%;
    height: 0;
    margin: 0;
    padding-bottom: 100%;
}

.image-container img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container h2 {
    margin-bottom: 20px;
}

.container {
    padding: 20px;
    width: 68%;
}

.main-container {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    padding: 1rem;
    flex-flow: row wrap;
    align-items: stretch;
    background-color: var(--Green);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
}


/* .grid-item img{
    height: 100%;
    width: 200px;
    margin-bottom: 25px;
    border-radius: 10px;
} */

.full-grid {
    position: relative;
    display: inline;
    margin-bottom: 1rem;
}

/* .full-grid p{
    display: inline;
} */
/* 
.grid-item .add-btn1{
    position: absolute;
    left: 50%;
    bottom: 15px;
    z-index: 1;
    transform: translate(-50%, -50%);
} */

.button-container {
    position: relative;
    margin-bottom: 2rem;
}

.tertiary-header {
    font-weight: 600;
    color: var(--Rose900);
    margin: 0.2rem 0;
}

.add-btn1 {
    display: none;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid var(--Rose500);
    padding: 0.65rem 1.25rem;
    min-width: 150px;
    border-radius: 20px;
    background-color: var(--Rose50);
    cursor: pointer;
    font-weight: 400;
    text-align: center;
    gap: 3px;
    white-space: nowrap;
    transition: all 300ms ease-in-out;
    position: absolute;
    left: 50%;
    bottom: -35px;
    z-index: 1;
    transform: translate(-50%, -50%);

    &:hover,
    &:active,
    &:focus {
        border: 1px solid var(--red);
        color: var(--red);
    }
}

.add-btn1 svg {
    pointer-events: none;
}

.add-btn1.active {
    display: flex;
}

.add-btn1.focus {
    display: flex;
}



.cart-plus-minus {
    display: none;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--Rose500);
    padding: 0.65rem;
    min-width: 150px;
    border-radius: 20px;
    background-color: var(--red);
    cursor: pointer;
    font-weight: 400;
    text-align: center;
    gap: 3px;
    white-space: nowrap;
    transition: all 300ms ease-in-out;
    position: absolute;
    left: 50%;
    bottom: -36px;
    z-index: 2;
    transform: translate(-50%, -50%);
    height: 43px;
    color: white;
}

.cart-plus-minus.active {
    display: flex;
}

.more-less {
    appearance: none;
    border: none;
    background: none;
    display: block;
    height: 18px;
    width: 18px;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    margin: 0;
    padding: 0;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.more-less:hover {
    background-color: white;
    fill: var(--red);
}

.more-less svg:hover {
    fill: var(--red);
}

.more-less svg {
    fill: white;
}



.description h5 {
    color: var(--Rose400);
}

.description {
    color: var(--Rose500);
    font-size: 15px;
}

.cart-wrap {
    width: 30%;
}

.cart {
    border-radius: 10px;
    padding: 10px;
    background-color: var(--Rose50);
    padding: 1rem;
}


.cart h5 {
    font-size: 18px;
    color: var(--red);
    font-weight: 700;
}


/* .cart p{
    font-size: 13px;
    font-weight: 650;
    color: var(--Rose500);
    white-space: nowrap;
} */



.empty-cart {
    /* display: block; */
    margin: 0 auto;
    text-align: center;
}

.empty-cart p {
    font-size: 13px;
    font-weight: 650;
    color: var(--Rose500);
    white-space: nowrap;
}

.empty-cart:active {
    display: block;
}



.full-cart {
    display: none;
}

.full-cart:active {
    display: block;
}


.price {
    color: var(--red);
    font-weight: 600;
}

@media (max-width: 960px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
        /* Change to 2 columns for smaller screens */
    }

}

@media (max-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}


@media (max-width: 768px) {

    .container,
    .cart-wrap {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .image-container {
        padding-bottom: 66.666%;
    }
}


.cart-item {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--gray);
}

.cart-quantity-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-quantity {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    width: 145px;
}


.cart-heading {
    color: var(--Rose900);
    font-weight: 620;
    padding-top: 20px;
    padding-bottom: 10px;
    width: 100%;
    white-space: nowrap;
}

.quantity-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 84%;
}

.quantity {
    color: var(--red);
    font-weight: 600;
    /* padding-right: 10px; */
    /* font-size: 0.9rem; */
}

.each-item {
    color: var(--Rose400);
    font-size: 14px;
}

.item-total {
    color: var(--Rose400);
    font-size: 14px;
    font-weight: 600;
}

.order-total {
    margin-bottom: 10px;
}

.remove-item {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    appearance: none;
    border: none;
    background-color: transparent;
    border: 2px solid var(--Rose300);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    padding: 0;
    transition: all 300ms ease-in-out;
    cursor: pointer;

}

.remove-item svg {
    display: block;
    width: 15px;
    height: 15px;
    fill: #caafa7;
    transition: all 300ms ease-in-out;
}

.remove-item:hover,
.remove-item:active,
.remove-item:focus {
    border-color: var(--Rose900);
}

.remove-item:hover>svg,
.remove-item:active>svg,
.remove-item:focus>svg {
    fill: var(--Rose900);
}

.order-total {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    color: var(--Rose400);
    margin-top: 1rem;
    font-weight: 600;
    font-size: 0.9rem;
}

.amount {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--Rose900);
}

.carbon-neutral {
    padding: 1rem;
    background-color: var(--Rose100);
    border-radius: 10px;
    text-align: center;
    font-size: 0.9rem;
}

.carbon-neutral svg {
    margin-right: 10px;
}

.confirm-btn {
    appearance: none;
    background-color: var(--red);
    cursor: pointer;
    border: none;
    font-weight: 600;
    font-size: 1rem 0;
    width: 98%;
    border-radius: 50vh;
    padding: 1rem;
    color: white;
    margin-top: 25px;
    transition: all 300ms ease-in-out;
}

.confirm-btn:hover,
.confirm-btn:active,
.confirm-btn:focus {
    background-color: var(--Rose400);
}

.modal-container {
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    inset: 0;
    z-index: 999;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    opacity: 0;
    pointer-events: none;
}


.modal-hidden {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    min-width: 38%;
    max-height: 80vh;
    overflow-y: scroll;
}


.modal-content-wrapper {
    background-color: var(--Rose50);
    padding: 1rem;
    border-radius: 10px;
}

.modal-content .icon {
    margin-bottom: 20px;
}

.modal-texts {
    margin-bottom: 50px;
}


.items-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--gray);
}

.item-details {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    padding: 1rem;
}

.image-wrapper {
    width: 70px;
    height: 70px;
}

.item-details img {
    object-fit: cover;
}

.cart-headings {
    color: var(--Rose900);
    font-weight: 620;
    padding-top: 10px;
    width: 100%;
    white-space: nowrap;
    padding-bottom: 10px;
}

.quantity-wrappers {
    display: flex;
    flex-flow: row nowrap;
    /* justify-content: space-between; */
    align-items: center;
    width: 82%;
    gap: 20px;
}

.total-price {
    color: var(--Rose900);
    font-size: 14px;
    font-weight: 600;
}

.new-order-button {
    appearance: none;
    background-color: var(--red);
    cursor: pointer;
    border: none;
    font-weight: 600;
    font-size: 1rem 0;
    width: 98%;
    border-radius: 50vh;
    padding: 1rem;
    color: white;
    margin-top: 25px;
    transition: all 300ms ease-in-out;
}

.new-order-button:hover,
.new-order-button:active,
.new-order-button:focus {
    background-color: var(--Rose400);
}